<% if current_user.profile_img.attached? %>
  <%= image_tag current_user.profile_img, class: "comment-user-img" %> 
<% else %>
  <%= image_tag "profile.jpg", class: "comment-user-img" %>
<% end %>
  コメントする
<div id="comment-error">
  <% if @error_comment.present? %> 
    <%= render "shared/error_messages", object: @error_comment %>
  <% end %> 
</div>
<%= form_with model: [@article, @comment], local: true, remote: true do |f| %> 
  <div class="toolbar">
    <%= turbo_frame_tag "articles-img" do %>
      <div class="article-image-upload">
        <label>
          <i class="far fa-image"></i>
          <%= f.file_field :images, direct_upload: true, id: "artilce-comment-image-field", accept: "image/jpeg, image/png, image/gif", style: "display: none;", multiple: true, 
            data: { 
              controller: "article-comment-image-upload",
              article_comment_image_upload_url_value: rails_direct_uploads_url,
              article_comment_image_upload_csrf_token_value: form_authenticity_token,
              action: "input->article-comment-image-upload#imageUpload"
            } 
          %>
        </label>
      </div>
    <% end %>
    <div class="preview-open">
      <div data-controller="toolbar"  data-action="click->toolbar#preview" class="btn preview-btn">
        <i class="fas fa-book-open"></i>
      </div>
      <div data-controller="toolbar" data-action="click->toolbar#edit" class="btn edita display">
        <i class="fas fa-edit"></i> 
      </div>
    </div>
  </div>
  <div class="text-area-and-preview">
    <%= f.text_area :comment, id: 'markdown', class: 'form-control article-text-area', maxlength: "1500", placeholder: "コメントを入力",
        data: {
          controller: "drop-upload-for-comment toolbar",
          drop_upload_for_comment_url_value: rails_direct_uploads_url,
          action: "drop->drop-upload-for-comment#dropUpload input->toolbar#input"
        }
    %>
    <div id="html", class="html display">
      <div class="preview-placeholder">
        プレビューが表示されます。
      </div>
    </div>
  </div>
  
  <%= f.hidden_field :blob_signed_ids, id: 'blob', value: "[]" %>
  <%= hidden_field_tag :stimulus_debug_marker, "", id: "stimulus-debug-marker" %>

  <div class="submit-btn">
    <%= f.submit "送信する", class: "btn", remote: true %> 
  </div>
<% end %> 