<% provide(:title, "アカウント情報の編集") %>
<h1>アカウント情報の編集</h1>

<div class="row"> 
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, url: user_path) do |f| %>
      <%= render 'devise/shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %> 

      <%= f.label :email %> 
      <%= f.email_field :email, class: 'form-control' %> 
      
      <div class="birthday">
        <%= f.label :birthday %>
        <div class="birthday-select">
          <%= raw sprintf(
              f.date_select(
                :birthday,
                use_month_numbers: true,
                start_year: 1930,
                end_year: (Time.now.year - 10),
                include_blank: true, 
                class: 'form-control',
                date_separator: '%s'),
                '年 ', '月 ') + '日' %>
        </div>
      </div>

      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: 'form-control' %>

      <%= f.label "新しいパスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label "新しいパスワード(確認)" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :profile_img, "プロフィール画像" %>
      <%= f.file_field :profile_img,  id: "profile_image_upload", class: "form-control", accept: "image/jpeg, image/png, image/gif" %>

      <% if @user.profile_img.attached? %>
        <%= image_tag @user.profile_img, id: "target" %>
      <% else %>
        <%= image_tag "profile.jpg", id: "target" %> 
      <% end %>
  
      <button id="selected-img-trim", type="button">画像をトリミングする</button>
      <p>※本日のプロフィール画像の編集回数は残り<strong><%= @remaining_avatar_update_count %>回</strong>です。</p>

      <div class="account-edit-btn">
        <%= f.submit "編　集", class: "btn btn-primary" %> 
      </div>
    <% end %>

    <div class= 'delete-user-check'>
      <%= link_to "退会する", account_delete_confirmation_path %>
    </div>
  </div>
</div> 

<div class="modal" id="modal-for-trim">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-toggle="modal"><span class="dli-close"></span></button>
        <h4 class="modal-title">画像のトリミング</h4>
      </div>
      <div class="modal-body">
        <div class="cropper-area">
         <% if @user.profile_img.attached? %>
           <%= image_tag @user.profile_img, id:"cropper-img", crossOrigin: "anonymous" %>
        <% else %>
           <%= image_tag "profile.jpg", id:"cropper-img" %>
         <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="crop-btn" type="button" class="btn btn-default">トリミング</button>
      </div>
    </div>
  </div>
</div> 


