<li id="article-<%= private_article.id %>"> 
  <span class="heading-image">
    <%= link_to preview_article_draft_path(private_article) do %>
      <% if private_article.image.attached? %> 
        <%= image_tag private_article.image %>
      <% else %> 
        <div class="no-heading-image">
          <p>Articles</p>
        </div>
      <% end %>
    <% end %>
  </span>
  <span class="title title-responsive">
    <%= link_to preview_article_draft_path(private_article) do %>
      <%= private_article.title %>
    <% end %>
  </span>
  <span class="timestamp"> 
    <%= private_article.created_at.strftime("%Y年%-m月%-d日 %-H:%-M") %>
  </span> 
</li>