<% provide(:title, @article.title) %>
<div class="article-page"> 
  <span class="article-heading-image">
    <%= image_tag @article.image if @article.image.attached? %>
  </span>
  <h1 class="article-title"><%= @article.title %></h1> 
  <div class="row">
    <section class="article-information"> 
      <%= link_to @article.user do %>
        <div class="article-profile-img">
          <%= image_tag @article.user.profile_img if @article.user.profile_img.attached? %>
        </div>
      <% end %>
      <div class="name-and-time">
        <%= link_to @article.user do %>
          <div class="user-name"><%= link_to @article.user.name, @article.user %></div>
        <% end %>
        <% unless @article.created_at.strftime("%Y年%-m月%-d日 %-H:%-M:%-S") == @article.updated_at.strftime("%Y年%-m月%-d日 %-H:%-M:%-S") %>
          <span class="timestamp"><%= @article.updated_at.strftime("%Y年%-m月%-d日 %-H:%-M") %> (編集済み)</span>
        <% else %>
          <span class="timestamp"><%= @article.created_at.strftime("%Y年%-m月%-d日 %-H:%-M") %> </span>
        <% end %>
      </div>
    </section>
    <div class="select-operation"> 
      <% if @article.user == current_user || current_user&.admin? %> 
        <section class="article-edit">
          <div class="dropdown">
            <a href="#" id="option" class="dropdown-toggle"> 
              <span class="dli-more-v"></span>
            </a>
            <ul id="dropdown-menu2" class="dropdown-menu dropdown-menu-right article-option">
              <% if @article.user == current_user %>
                <li><%= link_to "記事を編集", edit_article_path(@article), data: { turbo: false } %></li> 
                <li class="divider"></li>
              <% end %>
              <li><%= link_to "記事を削除", @article, data: { "turbo-method": :delete,
                      turbo_confirm: "本当に削除しますか？" } %> 
              </li>
            </ul> 
          </div>
        </section>
      <% else %>
        <span class="likes_btn">
          <%= render "likes/btn", article: @article %>
        </span>
      <% end %>
    </div>
  </div> 
  <% if @tags.present? %> 
    <div class="tags">
      <ul>
        <i class="fas fa-tag"></i>
        <% @tags.each do |tag| %>
          <li class="tag">
            <%= link_to tag, tag_path(tag.name) %>
          </li>
        <% end %> 
      </ul>
    </div >
  <% end %> 
  <div class="content">
    <%= markdown(@article.content) %>
  </div>

  <% if @article.published? %>
    <div id="favorite-submit">
      <p><i class="fas fa-star"></i>お気に入りの記事リストに追加</p>
      <p class="favorite-submit-introduction">リストに追加することで後で見返しやすくなります。</p>
      <% if current_user %>
        <% if @favorite_article_lists.any? %>
          <%= form_with(model: @favorite, url: favorites_path, method: :post) do |f| %>
            <%= f.hidden_field :article_id, value: @article.id %>
            <div id="list-select">
              <%= f.collection_select :favorite_article_list_id, @favorite_article_lists, :id, :list_title, include_blank: "リストを選択" %>  
            </div>     
            <%= f.submit "リストに追加", class: "favorite-submit-btn" %>
          <% end %>
        <% else %>
          <p class="favorite-submit-introduction">まだ<%= current_user.name %>さんはお気に入りリストを作成していません。<br>
            新しいリストを作成しますか？</p>
          <div class="favorite_article_list_option">
            <%= link_to "リストを作成", new_user_favorite_article_list_path(current_user) %>
          </div>
        <% end %>
      <% else %>
        <div class="login-and-sign-up-page-link">
          お気に入り登録するには、<%= link_to "ログイン", login_path %> するか <%= link_to "会員登録", sign_up_path %> してください。
        </div>
      <% end %>
    </div>

    <div class="article-comment">
      <p id="comment-count">コメント <%= @article.article_comments.count %>件</p>
      <hr>
      <div id="article-comment-list">     
        <%= render "article_comments/comment" %>
      </div>
      <div id="comment-area">
        <% if current_user %>
          <%= render "article_comments/comment_form" %>
        <% else %>
          <div class="login-and-sign-up-page-link">
            コメントを投稿するには、 <%= link_to "ログイン", login_path %> するか <%= link_to "会員登録", sign_up_path %> してください。
          </div>
        <% end %> 
      </div>
    </div>
  <% end %>
</div>
