<h1>Dashbord</h1>
<div class="statistics-section">
  <a href="admin/statistics/users">
    <div class="user-block">
      <i class="fas fa-users"></i>
      <div class="statistics-name-and-number">
        <p>ユーザー数</p>
        <strong class="item-count"><%= @user_count %></strong>
      </div>
    </div>
  </a>

  <a href="admin/statistics/articles">
    <div class="article-block">
      <i class="fas fa-edit"></i> 
        <div class="statistics-name-and-number">
          <p>記事数</p>
          <strong class="item-count"><%= @article_count %></strong>
        </div>
    </div>
  </a>

  <a href="admin/statistics/comments">
    <div class="comment-block">
      <i class="fas fa-comments"></i>
      <div class="statistics-name-and-number">
        <p>コメント数</p>
        <strong class="item-count"><%= @comment_count %></strong>
      </div>
    </div>
  </a>

  <a href="admin/statistics/favorite_article_lists">
    <div class="list-block">
      <i class="fas fa-list"></i>
      <div class="statistics-name-and-number">
        <p>お気に入りリスト数</p>
        <strong class="item-count"><%= @favorite_article_list_count %></strong>
      </div>
    </div>
  </a>

  <a href="admin/statistics/tags">
    <div class="tag-block">
      <i class="fas fa-tag"></i>
      <div class="statistics-name-and-number">
        <p>タグ数</p>
        <strong class="item-count"><%= @tag_count %></strong>
      </div>
    </div>
  </a>

  <a href="admin/feedbacks">
    <div class="feedback-block">
      <i class="fas fa-user-edit"></i>
      <div class="statistics-name-and-number">
        <p>フィードバック数</p>
        <strong class="item-count"><%= @feedback_count %></strong>
      </div>
    </div>
  </a>
</div>

