<div id="good-btn">
  <% if current_user %> 
    <% if article.liked?(current_user) %>
      <%= link_to article_likes_path(article.id), data: { "turbo-method": :delete }, id: "unlike-btn", remote: true do %> 
        <i class="fas fa-heart" aria-hidden="true" style="color: #ff0069"></i>
      <% end %> 
    <% else %> 
      <%= link_to article_likes_path(article.id), data: { "turbo-method": :post }, id: "like-btn", remote: true do %> 
        <i class="far fa-heart" aria-hidden="true"></i>
      <% end %> 
    <% end %> 
    <span class="likes-count"><%= article.likes.count %></span>
  <% else %>
    <%= link_to article_likes_path(article.id), data: { "turbo-method": :post }, id: "like-btn" do %> 
      <i class="far fa-heart" aria-hidden="true"></i>
    <% end %>
    <span class="likes-count"><%= article.likes.count %></span>
  <% end %>
</div>