<div class="row">
  <aside class="col-md-4">
  <section class="user-info"> 
    <%= link_to @user do %>
      <div class="profile_img">
        <%= image_tag @user.profile_img if @user.profile_img.attached? %>
      </div>
      <div class="name">
        <%= link_to @user.name, @user %>
      </div>
    <% end %>
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section> 
  <% unless current_user == @user %>
    <section class="follow-btn">
      <%= render 'follow_form' if current_user %> 
    </section> 
  <% end %>
  </aside>
  <div class="col-md-4"> 
    <% if @user.articles.any? %> 
      <h3>投稿記事</h3> 
      <ol class="articles">
        <%= render @articles %> 
      </ol>
      <%= will_paginate @articles %> 
    <% end %>
  </div>
</div> 