<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">
  <section class="user-info"> 
    <%= link_to @user do %>
      <div class="profile_img">
        <%= image_tag @user.profile_img.attached? ? @user.profile_img : "profile.jpg" %>
      </div>
      <div class="name">
        <%= link_to @user.name, @user %>
      </div>
    <% end %>
  </section>
  <section class="introduction">
    <%= render 'shared/introduction' %> 
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section> 
  <section class="favorite-article-list-link"> 
    <%= link_to "お気に入り記事リスト一覧", user_favorite_article_lists_path(@user) %>
  </section>
  <% unless current_user == @user %>
    <section class="follow-btn">
      <%= render 'follow_form' if current_user %> 
    </section> 
  <% else %>
    <p class="post-limit">
      （本日の残り投稿回数: 
      <strong><%= @count %></strong>）
    </p>
  <% end %>
  </aside>
  <div class="col-sm-8"> 
    <% if @user == current_user %>
      <div class="article-type">
        <div class="article-tab <%= 'selected' if @tab == :published %>" data-path-suffix="">投稿記事</div>
        <div class="article-tab <%= 'selected' if @tab == :private %>" data-path-suffix="/private_articles">非公開記事</div>
        <div class="article-tab <%= 'selected' if @tab == :drafts %>" data-path-suffix="/drafts">下書き記事</div>
      </div>
    <% else %>
      <h4>投稿記事</h4>
    <% end %>
    <div id="article-contents">
      <ol id="published" class="articles active">
        <%= render @articles %> 
      </ol>
      <ol id="private_articles" class="articles">
        <%= render partial: 'articles/private_articles', collection: @private_articles, as: :private_article %>
      </ol>
      <ol id="drafts" class="articles">
        <%= render partial: 'article_drafts/draft', collection: @drafts, as: :draft %>
      </ol>
    </div>
  </div>
  <div class="pagination">
    <% if @tab == :drafts %>
      <%= render partial: "shared/pagination", locals: { object: @drafts } %>
    <% elsif @tab == :published %>
      <%= render partial: "shared/pagination", locals: { object: @articles } %>
    <% else %>
      <%= render partial: "shared/pagination", locals: { object: @private_articles } %>
    <% end %>
  </div>
</div> 
