<div class="row">
  <aside class="col-sm-4">
  <section class="user-info"> 
    <%= link_to @user do %>
      <div class="profile_img">
        <% if @user.profile_img.attached? %>
          <%= image_tag @user.profile_img %>
        <% else %>
          <%= image_tag "profile.jpg" %>
        <% end %>
      </div>
      <div class="name">
        <%= link_to @user.name, @user %>
      </div>
    <% end %>
  </section>
  <section class="introduction">
    <%= render 'shared/introduction' %> 
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section> 
  <% unless current_user == @user %>
    <section class="follow-btn">
      <%= render 'follow_form' if current_user %> 
    </section> 
  <% end %>
  </aside>
  <div class="col-sm-8"> 
    <% if @user.articles.any? %> 
      <h4>投稿記事</h4> 
      <ol id="profile-page-articles", class="articles">
        <%= render @articles %> 
      </ol>
    <% end %>
  </div>
  <div class="pagination">
    <%= render partial: "shared/pagination", locals: { object: @articles } %>
  </div>
</div> 
