<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">
  <section class="user-info"> 
    <%= link_to @user do %>
      <div class="profile_img">
        <%= image_tag @user.profile_img.attached? ? @user.profile_img : "profile.jpg" %>
      </div>
      <div class="name">
        <%= link_to @user.name, @user %>
      </div>
    <% end %>
  </section>
  <section class="introduction">
    <%= render 'shared/introduction' %> 
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section> 
  <% if current_user != @user %>
    <section class="follow-btn">
      <%= render 'follow_form' if current_user %> 
    </section> 
  <% end %>
  </aside>
  <div class="col-sm-8"> 
    <div class="tab-type">
      <% if @user == current_user %>
        <div class="tab <%= 'selected' if @tab == :published %>" data-path-suffix="">投稿記事</div>
        <div class="tab <%= 'selected' if @tab == :private %>" data-path-suffix="/private_articles">非公開記事</div>
        <div class="tab <%= 'selected' if @tab == :drafts %>" data-path-suffix="/drafts">下書き記事</div>
        <div class="tab <%= 'selected' if @tab == :lists %>" data-path-suffix="/favorite_article_lists">シェアリスト</div>
      <% else %>
        <div class="tab <%= 'selected' if @tab == :published %>" data-path-suffix="">投稿記事</div>
        <div class="tab <%= 'selected' if @tab == :lists %>" data-path-suffix="/favorite_article_lists">シェアリスト</div>
      <% end %>
    </div>
    <div id="tab-contents">
      <ol id="published" class="contents articles active">
        <% if @articles.present? %>
          <%= render @articles %> 
        <% else %>
          投稿した記事はありません。
        <% end %>
      </ol>
      <ol id="private_articles" class="contents articles">
        <% if @private_articles.present? %>
          <%= render partial: 'articles/private_articles', collection: @private_articles, as: :private_article %>
        <% else %>
          非公開記事はありません。
        <% end %>
      </ol>
      <ol id="drafts" class="contents articles">
        <% if @drafts.present? %>
          <%= render partial: 'article_drafts/drafts', collection: @drafts, as: :draft %>
        <% else %>
          下書きはありません。
        <% end %>
      </ol>
      <ol id="favorite_article_lists" class="contents articles">
        <select id="share-list-select">
          <option value="my" <%= "selected" if @list_type == :my %>>マイリスト</option>
          <option value="bookmark" <%= "selected" if @list_type == :bookmark %>>ブックマーク</option>
        </select>
        <div class="new_favorite_list_link">
          <%= link_to "新規シェアリストを作成する", new_user_favorite_article_list_path(@user) %>
        </div>
        <% if @lists.present? %>
          <%= render partial: 'favorite_article_lists/favorite_article_lists',
                     collection: @lists, as: :list %>
        <% else %>
          <% if @list_type == :my %>
            <div><%= @user.name %>さんはシェアリストを作成していません。</div>  
          <% else %>
            <div>ブックマークしたリストはありません。</div>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="pagination">
    <% if @tab == :drafts %>
      <%= render partial: "shared/pagination", locals: { object: @drafts } %>
    <% elsif @tab == :published %>
      <%= render partial: "shared/pagination", locals: { object: @articles } %>
    <% elsif @tab == :private %>
      <%= render partial: "shared/pagination", locals: { object: @private_articles } %>
    <% else %>
      <%= render partial: "shared/pagination", locals: { object: @lists } %>
    <% end %>
  </div>
</div> 
