<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-4">
  <section class="user-info"> 
    <%= link_to @user do %>
      <div class="profile_img">
        <% if @user.profile_img.attached? %>
          <%= image_tag @user.profile_img %>
        <% else %>
          <%= image_tag "profile.jpg" %>
        <% end %>
      </div>
      <div class="name">
        <%= link_to @user.name, @user %>
      </div>
    <% end %>
  </section>
  <section class="introduction">
    <%= render 'shared/introduction' %> 
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section> 
  <section class="favorite-article-list-link"> 
    <%= link_to "お気に入り記事リスト一覧", user_favorite_article_lists_path(@user) %>
  </section>
  <% unless current_user == @user %>
    <section class="follow-btn">
      <%= render 'follow_form' if current_user %> 
    </section> 
  <% else %>
    <p class="post-limit">
      （本日の残り投稿回数: 
      <strong><%= @count %></strong>）
    </p>
  <% end %>
  </aside>
  <div class="col-sm-8"> 
    <% if @user == current_user %>
      <div class="article-type">
        <div class="article-tab selected" data-target="published">投稿記事</div>
        <div class="article-tab" data-target="drafts">下書き記事</div>
      </div>
    <% else %>
      <h4>投稿記事</h4>
    <% end %>
    <div id="article-contents">
      <ol id="published", class="articles active">
        <%= render @articles %> 
      </ol>
      <ol id="drafts", class="articles">
        <%= render partial: 'articles/draft', collection: @drafts, as: :draft %>
      </ol>
    </div>
  </div>
  <div class="pagination">
    <%= render partial: "shared/pagination", locals: { object: @articles } %>
  </div>
</div> 
