<% @feedbacks.each do |feedback| %>
  <hr>
  <div class="feedback-info">
    <div class="user-info-and-time">
      <div class="user-info">
        <%= link_to feedback.user do %>
          <% if feedback.user.profile_img.attached? %>
            <%= image_tag feedback.user.profile_img, class: "feedback-user-img" %> 
          <% else %>
            <%= image_tag "profile.jpg", class: "feedback-user-img" %>
          <% end %>
          <%= feedback.user.name %>
        <% end %>
      </div>
      <div class="time-and-destroy-link">
        <%= feedback.created_at.strftime("%Y年%-m月%-d日 %-H:%-M") %>
        <%= link_to "❌", admin_feedback_path(feedback), data: { "turbo-method": :delete,
                                                               turbo_confirm: "本当に削除しますか？" } %> 
      </div>
    </div>
    <div class="feedback-subject">
      件名：<%= feedback.subject %>
    </div>
    <div class="feedback-body">
      <%= feedback.body %>
    </div>
  </div>
<% end %>