<% @user ||= current_user %> 
<div class="stats">
  <a href="<%= user_path(@user) %>">
    <strong>
      <%= @articles_count %> 
    </strong>
    投稿
  </a> 
  <a href="<%= following_user_path(@user) %>"> 
    <strong id="following" class="stat">
      <%= @user.following.count %> 
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>"> 
    <strong id="followers" class="stat">
      <%= @user.followers.count %> 
    </strong>
    フォロワー 
  </a> 
</div> 