<%= form_with model: @draft, url: update_draft_user_article_draft_path(current_user), id: "article-draft-edit-form", method: :patch do |f| %> 
  <% content_for :form_submit_button do %>
    <%= f.submit '送信する' , class: "btn btn-primary"%>
  <% end %>

  <%= render '/layouts/header' %>

  <%= render 'flash', object: f.object %> 

  <div
    data-controller="draft-toggle-for-edit"
    data-user-id="<%= current_user.id %>"
    data-draft-id="<%= @draft.id %>"
    data-draft-toggle-initial-value="<%= params.dig(:article, :published) || 'false' %>"
    id="draft-toggle"
    class="draft-toggle"
  >
    <button
      type="button"
      class="toggle-button active"
      data-action="click->draft-toggle-for-edit#selectDraft"
      data-draft-toggle-value="false"
    >
      下書き
    </button>
    <% if @draft.article %>
      <button
        type="button"
        class="toggle-button"
        data-action="click->draft-toggle-for-edit#selectDraft"
        data-draft-toggle-value="true"
      >
        更新
      </button>

      <div id="publish-options" style="display: none;">
        <span>公開範囲：</span>
        <label>
          <input type="radio" name="visibility_pc" value="public" checked>
          <span>全体に公開</span>
        </label>
        <label>
          <input type="radio" name="visibility_pc" value="private">
          <span>自分だけが見られる</span>
        </label>
      </div>
    <% else %>
      <button
        type="button"
        class="toggle-button"
        data-action="click->draft-toggle-for-edit#selectDraft"
        data-draft-toggle-value="true"
      >
        公開
      </button>

      <div id="publish-options" style="display: none;">
        <span>公開範囲：</span>
        <label>
          <input type="radio" name="visibility_pc" value="public" checked>
          <span>全体に公開</span>
        </label>
        <label>
          <input type="radio" name="visibility_pc" value="private">
          <span>自分だけが見られる</span>
        </label>
      </div>
    <% end %>
  </div>

  <div id="publish-options-mobile" style="display: none;">
    <span>公開範囲：</span>
    <label>
      <input type="radio" name="visibility_mobile" value="public" checked>
      <span>全体に公開</span>
    </label>
    <label>
      <input type="radio" name="visibility_mobile" value="private">
      <span>自分だけが見られる</span>
    </label>
  </div>

  <div
    data-controller="draft-asynch-save"
    data-draft-asynch-save-user-id-value="<%= current_user.id %>"
    data-draft-asynch-save-draft-id-value="<%= @draft&.id %>"
    data-draft-asynch-save-csrf-token-value="<%= form_authenticity_token %>"
  >

    <div class="title-field">
      <%= f.text_field :title, id: 'title', class: "form-control#{' is-invalid' if @draft.errors[:title].any?}", placeholder: "タイトルを入力してください。",
        data: { action: "input->draft-asynch-save#processInput" }
      %> 
      <% @draft.errors.full_messages_for(:title).each do |msg| %>
        <div class="invalid-feedback"><%= msg %></div>
      <% end %>
    </div> 
    <% if @header_image_change_remaining.to_i > 0 %>
      <div class="selection-and-change-count">
        <label class="top-image">
          <span class="btn select-image">ヘッダー画像を選択</span>
          <%= f.file_field :image, id: 'header', accept: "image/jpeg, image/png, image/gif", style: "display: none;",
            data: { action: "onchange->draft-asynch-save#processInput" }
          %>
        </label>
        <p>（※本日の残り変更回数: <strong><%= @header_image_change_remaining %></strong>）</p>
      </div>
    <% else %>
      <p>
        ※本日の<strong>ヘッダー画像変更回数</strong>を超えています。本記事のヘッダー画像は明日以降に変更可能です。
      </p>
    <% end %>

    <div id="header-img-preview">
      <% if @draft.image.attached? %>
        <div class="preview">
          <%= image_tag @draft.image %>
        </div>
      <% else %> 
        <p id="header-image-placeholder">ここにヘッダー画像のプレビューが表示されます。</p>
      <% end %>
    </div>

    <div id="add-tags">
      <%= f.label :tag_list, "タグ(半角のスペースで区切って入力してください。)", class: "form-label" %> 
      <%= f.text_field :tag_list, value: @draft.tag_list.join(" "), id: 'tag-list', class: "form-control#{' is-invalid' if @draft.errors[:tag_list].any?}",
        data: { action: "input->draft-asynch-save#processInput" }
      %>
      <% @draft.errors.full_messages_for(:tag_list).each do |msg| %>
        <div class="invalid-feedback"><%= msg %></div>
      <% end %>
    </div> 

    <div id="article-upload-remaining">[本日の記事画像の残りアップロード容量：<%= @remaining_mb %> MB]</div>
    <div class="toolbar">
      <div class="article-image-upload">
        <label>
          <i class="far fa-image"></i>
          <%= f.file_field :content, id: "artilce-image-field", accept: "image/jpeg, image/png, image/gif", style: "display: none;", multiple: true, 
            data: { 
              controller: "article-image-upload",
              article_image_upload_url_value: rails_direct_uploads_url,
              article_image_upload_csrf_token_value: form_authenticity_token,
              action: "input->article-image-upload#imageUpload"
            }
          %>
        </label>
      </div>
      <div class="toolbar-icon">
        <div id="scroll-synch" data-controller="scroll-synch" data-action="click->scroll-synch#toggle">
          <span>スクロール同期</span>
          <label class="toggle-button-1">
            <input id="scroll-synch-checkbox" type="checkbox" checked data-scroll-synch-target="synch">
          </label>
        </div>
        <div id="diff-btn" class="btn diff-btn" data-controller="line-number" data-action="click->line-number#lineCount">
          <i class="fas fa-exchange-alt"></i>
        </div>
        <div id="preview-btn" class="btn preview-btn" data-controller="line-number" data-action="click->line-number#lineCount">
          <i class="fas fa-book-open"></i>
        </div>
        <div id="editor-btn" class="btn editor-btn display" data-controller="line-number" data-action="click->line-number#lineCount">
          <i class="fas fa-edit"></i> 
        </div>
        <div id="editor-btn2" class="btn editor-btn2 display" data-controller="line-number" data-action="click->line-number#lineCount">
          <i class="fas fa-edit"></i> 
        </div>
      </div>
    </div>
    <div id="article-text-field">
      <div class="text-area-and-preview">
        <div id='editor-container'>
          <div id='line-numbers'></div>
          <div id='mirror'></div>
          <%= f.text_area :content, id: 'markdown', class: "form-control article-text-area#{' is-invalid' if @draft.errors[:content].any?}", maxlength: "3000", placeholder: "本文を入力してください。",
            data: {
              controller: "drop-upload count-article-text line-number",
              drop_upload_url_value: rails_direct_uploads_url,
              action: "input->draft-asynch-save#processInput drop->drop-upload#dropUpload input->count-article-text#count input->line-number#lineCount resize@window->line-number#lineCount scroll->line-number#scrollSynch"
             }
          %>
        </div>
        <div id="diff-view" class="diff-view display" data-controller="article-diff">
          <script type="application/json" data-article-diff-target="original">
            <%=  @article ? @article.content.to_json.html_safe : @draft.content.to_json.html_safe %>
          </script>
          <div id="diff" class="diff" data-article-diff-target="output"></div>
        </div>
        <div id="html" class="html display">
          <div class="preview-placeholder">
            プレビューが表示されます。
          </div>
          <div class="preview-content"></div>
        </div>
      </div>
    </div>
      <%= f.hidden_field :blob_signed_ids, id: 'blob', value: "[]" %>
      <%= f.hidden_field :draft_id, id: 'draft-id', value: @draft.id %>
  </div>

  <%= hidden_field_tag 'article[published]', params.dig(:article, :published), id: 'published-input' %>

  <span class="count" id="count_text">0 ／3000文字</span>

  <% @draft.errors.full_messages_for(:content).each do |msg| %>
    <div class="invalid-feedback"><%= msg %></div>
  <% end %>
<% end %> 
