<%= form_with model: @draft, url: save_draft_user_article_drafts_path(current_user), id: "article-draft-form", method: :post do |f| %>
  <% content_for :form_submit_button do %>
    <%= f.submit '送信する', class: "btn btn-primary" %>
  <% end %>

  <%= render '/layouts/header' %>

  <%= render 'flash', object: f.object %> 

  <div
    data-controller="draft-toggle"
    data-user-id="<%= current_user.id %>"
    data-draft-toggle-initial-value="<%= params.dig(:article, :published) || 'false' %>"
    id="draft-toggle"
    class="draft-toggle"
  >
    <button
      type="button"
      class="toggle-button active"
      data-action="click->draft-toggle#selectDraft"
      data-draft-toggle-value="false"
    >
      下書き
    </button>
    <button
      type="button"
      class="toggle-button"
      data-action="click->draft-toggle#selectDraft"
      data-draft-toggle-value="true"
    >
      公開
    </button>

    <div id="publish-options" style="display: none;">
      <span>公開範囲：</span>
      <label>
        <input type="radio" name="visibility_pc" value="public" checked>
        <span>全体に公開</span>
      </label>
      <label>
        <input type="radio" name="visibility_pc" value="private">
        <span>自分だけが見られる</span>
      </label>
    </div>
  </div>

  <div id="publish-options-mobile" style="display: none;">
    <span>公開範囲：</span>
    <label>
      <input type="radio" name="visibility_mobile" value="public" checked>
      <span>全体に公開</span>
    </label>
    <label>
      <input type="radio" name="visibility_mobile" value="private">
      <span>自分だけが見られる</span>
    </label>
  </div>

  <div class="title-field">
    <%= f.text_field :title, class: "form-control#{' is-invalid' if @draft.errors[:title].any?}", placeholder: "タイトルを入力してください。" %> 
    <% @draft.errors.full_messages_for(:title).each do |msg| %>
      <div class="invalid-feedback"><%= msg %></div>
    <% end %>
  </div> 

  <label class="select-header-image">
    <span class="btn select-image">ヘッダー画像を選択</span>
    <%= f.file_field :image, accept: "image/jpeg, image/png, image/gif", style: "display: none;" %>
  </label>

  <div id="header-img-preview">
    <p id="header-image-placeholder">ここにヘッダー画像のプレビューが表示されます。</p>
  </div>

  <div id="add-tags">
    <%= f.label :tag_list, "タグ(半角のスペースで区切って入力してください。)", class: "form-label" %> 
    <%= f.text_field :tag_list, value: @draft.tag_list.join(" "), class: "form-control#{' is-invalid' if @draft.errors[:tag_list].any?}" %> 
    <% @draft.errors.full_messages_for(:tag_list).each do |msg| %>
      <div class="invalid-feedback"><%= msg %></div>
    <% end %>
  </div> 

  <div id="article-upload-remaining">本日の記事画像の残りアップロード容量：<%= @remaining_mb %> MB</div>
  <div class="toolbar">
    <%= turbo_frame_tag "articles-img" do %>
    <div class="article-image-upload">
      <label>
        <i class="far fa-image"></i>
        <%= f.file_field :images, direct_upload: true, id: "artilce-image-field", accept: "image/jpeg, image/png, image/gif", style: "display: none;", multiple: true, 
        data: { 
          controller: "article-image-upload",
          article_image_upload_url_value: rails_direct_uploads_url,
          article_image_upload_csrf_token_value: form_authenticity_token,
          action: "input->article-image-upload#imageUpload"
        } 
        %>
      </label>
    </div>
    <% end %>
    <div class="preview-open">
      <div id="preview-btn", class="btn preview-btn">
        <i class="fas fa-book-open"></i>
      </div>
      <div id="editor-btn", class="btn editor-btn display">     
        <i class="fas fa-edit"></i> 
      </div>
    </div>
  </div>
  <div id="article-text-field">
    <div class="text-area-and-preview">
      <div id='editor-container'>
        <div id='line-numbers'></div>
        <div id='mirror'></div>
        <%= f.text_area :content, id: 'markdown', class: "form-control article-text-area#{' is-invalid' if @draft.errors[:content].any?}", maxlength: "3000", placeholder: "本文を入力してください。",
          data: {
            controller: "drop-upload count-article-text line-number",
            drop_upload_url_value: rails_direct_uploads_url,
            action: "drop->drop-upload#dropUpload input->count-article-text#count input->line-number#lineCount resize->line-number#lineCount"
          } 
        %>
      </div>
      <div id='html', class='html display'>
        <div class="preview-placeholder">
          プレビューが表示されます。
        </div>
        <div class="preview-content"></div>
      </div>
    </div>
  </div>

  <%= f.hidden_field :blob_signed_ids, id: 'blob', value: "[]" %>

  <%= hidden_field_tag 'article[published]', params.dig(:article, :published), id: 'published-input' %>

  <span class="count" id="count_text">0 ／ 3000文字</span>

  <% @draft.errors.full_messages_for(:content).each do |msg| %>
    <div class="invalid-feedback"><%= msg %></div>
  <% end %>
<% end %> 
