<li id="article-<%= article.id %>">
  <span class="heading-image">
    <%= link_to article do %>
      <% if article.image.attached? %> 
        <%= image_tag article.image %>
      <% else %> 
        <div class="no-heading-image">
          <p>Articles</p>
        </div>
      <% end %>
    <% end %>
  </span>
  <span class="title">
    <%= link_to article do %>
      <%= article.title %>
    <% end %>
  </span>
  <div class="article-info">
    <div class="user-profile-img">
      <%= link_to article.user do %>
        <%= image_tag article.user.profile_img if article.user.profile_img.attached? %>
      <% end %>
    </div>
    <div class="name-and-timestamp">
      <div class="name">
        <%= link_to article.user do %>
          <%= article.user.name %>
        <% end %>
      </div>
      <span class="timestamp"> 
        <%= article.created_at.strftime("%Y年%-m月%-d日 %-H:%-M") %>
      </span> 
    </div>
  </div>
  <span class="likes_btn_<%= article.id %>">
    <%= render "likes/btn", article: article %>
  </span>
</li>