<h1>Log in</h1>

<div class="row"> 
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, url: login_path) do |f| %>
      <%= render 'devise/shared/error_messages',  object: f.object %>

      <%= f.label :email %> 
      <%= f.email_field :email %> 

      <%= f.label :password %> 
      <%= f.password_field :password %> 

      <%= f.label :remember_me, class: "checkbox inline" do %> 
        <%= f.check_box :remember_me %> 
        <span>ログイン状態を維持する</span> 
      <% end %> 

      <%= f.submit "ログイン", class: "btn btn-primary" %> 
    <% end %>
    <div class="create_user">
      <%= link_to "新規登録", sign_up_path %>
    </div>
  </div>
</div> 