<p class="site-info">
  このサイトは、<strong>バックエンド技術のポートフォリオ</strong>として開発された記事投稿サービスです。
  <strong><%= link_to "開発概要はこちら➡︎", about_path %></strong>
</p>
<div class="home">
  <% if @trend_articles.any? %>
    <div class="title-and-link">
      <h4>トレンド記事</h4> 
      <div class="articles-link">
        <a href="/trend_articles">トレンド記事一覧</a>
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
    <ol class="articles">
      <%= render partial: "main_page/shared/home_articles", collection: @trend_articles, as: :article %>
    </ol>
  <% end %>
  <% if @articles.any? %>
    <div class="title-and-link">
      <h4>最近の投稿</h4> 
      <div class="articles-link">
        <a href="/recentry_articles">すべて見る</a>
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
    <ol class="articles">
      <%= render partial: "main_page/shared/home_articles", collection: @articles, as: :article %>
    </ol>
  <% end %>
  <% @trend_tag_sections.each do |trend| %>
    <div class="title-and-link">
      <h4><%= trend[:name] %></h4> 
      <div class="articles-link">
        <%= link_to "すべて見る", tag_path(trend[:name]) %>
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
    <ol class="articles">
      <%= render partial: "main_page/shared/home_articles", collection: trend[:articles], as: :article %>
    </ol>
  <% end %>
