<h2><%= @user.name %>さんのお気に入り記事のリスト一覧</h2>
<div class="tab-background">
  <ul class="tab-list list-unstyled">
    <li class="tab tab-active">
      <% if @user == current_user %>
        マイリスト
      <% else %>
        <%= @user.name %>さんの作成したリスト
      <% end %>
    </li>
    <li class="tab">
      ブックマークリスト
    </li>
  </ul>
  <% if current_user && @user == current_user %>
    <div id="list_option" class="favorite_article_list_option">
      <%= link_to "新規リスト作成", new_user_favorite_article_list_path(@user) %>
    </div>
  <% end %>
</div>
<div class="tabbox-contents">
  <div class="tabbox box-show">
    <% if @favorite_article_lists.any? %>
      <ul id="search-or-tagged-articles" class="articles">
        <% @favorite_article_lists.each do |list| %>
          <% @is_bookmarked_list = false %>
          <%= render "favorite_article_lists", list: list %>
        <% end %>
      </ul>
      <%= render partial: "shared/pagination", locals: { object: @search_articles } %>
    <% else %>
      <h2><%= @user.name %>さんはお気に入りリストを作成していません。</h2>
    <% end %>
  </div>
  <div class="tabbox">
    <% if @bookmarked_lists.any? %>
      <ul id="search-or-tagged-articles" class="articles">
        <% @bookmarked_lists.each do |list| %>
          <% @is_bookmarked_list = true %>
          <%= render "favorite_article_lists", list: list %>
        <% end %>
      </ul>
      <%= render partial: "shared/pagination", locals: { object: @search_articles } %>
    <% else %>
      <h2><%= @user.name %>さんはブックマークしているリストがありません。</h2>
    <% end %>
  </div>
</div>