<h2><%= @user.name %>さんのお気に入り記事のリスト一覧</h2>
<% if @user.favorite_article_lists.any? %>
  <ul id="search-or-tagged-articles" class="articles">
    <% @favorite_article_lists.each do |list| %>
      <%= render "favorite_article_lists", list: list %>
    <% end %>
  </ul>
  <%= render partial: "shared/pagination", locals: { object: @search_articles } %>
  <% if current_user && @user == current_user %>
    <div id="list_option" class="favorite_article_list_option">
      <%= link_to "新しいリストの作成", new_user_favorite_article_list_path(@user) %>
    </div>
  <% end %>
<% else %>
  <% if current_user == @user %>
    <h2 class="favorite-submit-introduction">まだ<%= current_user.name %>さんはお気に入りリストを作成していません。<br>
      新しいリストを作成しますか？</h2>
    <div class="favorite_article_list_option">
      <%= link_to "リストを作成", new_user_favorite_article_list_path(@user) %>
    </div>
  <% else %>
    <h2><%= @user.name %>さんはお気に入りリストを作成していません。</h2>
  <% end %>
<% end %>