<% provide(:title, "#{ @favorite_article_list.list_title }") %>
<h1><%= @favorite_article_list.list_title %></h1>
<% if @favorites.any? %>
  <ul id="search-or-tagged-articles" class="articles"> 
    <%= render partial: "favorite_articles", collection: @favorites, as: "favorite" %> 
  </ul>
  <%= render partial: "shared/pagination", locals: { object: @favorites } %>
<% else %>
  <p class="no-list">このリストにはまだ記事を登録していません。</p> 
<% end %>

<% if current_user && @favorite_article_list.user == current_user %>
  <div id="list_option" class="favorite_article_list_option">
    <%= link_to "リストを編集", edit_user_favorite_article_list_path(@favorite_article_list) %> | 
    <%= link_to "リストを削除", user_favorite_article_list_path(@favorite_article_list), data: { "turbo-method": :delete,
        turbo_confirm: "本当に削除しますか？" } %> 
  </div>
<% end %>