<header class="navbar navbar-fixed-top navbar-inverse fixed-top" style="background-color:#99b9c2;"> 
  <div class="container">   
    <nav>
      <div id="logo">
        <%= link_to "Articles", root_path %>
      </div>
      <ul id="navbar-menu" class="nav navbar-nav navbar-right">
        <% if show_header? %>
          <%= search_form_for @search, url: search_path, method: :get do |f| %>
            <%= button_tag type: "submit", id: "search-btn", class:"btn-default" do %> 
              <i class="fas fa-search"></i> 
            <% end %> 
            <%= f.search_field :title_or_content_eq, placeholder: 'キーワード検索', value: "", class: "search-window", required: "required" %>
          <% end %> 
          <div id="search-window-open">
            <a><i class="fas fa-search"></i></a>
          </div>
          <div id="responsive-search-window" class="display">
            <%= search_form_for @search, url: search_path, id: "search-window", class: "display", method: :get do |f| %>
              <%= button_tag type: "submit", id: "responsive-search-btn", class:"btn-default" do %> 
                <i class="fas fa-search"></i> 
              <% end %> 
              <%= f.search_field :title_or_content_eq, placeholder: 'キーワード検索', value: "", class: "responsive-search-window", required: "required" %> 
            <% end %>
            <button type="button"id="search-window-close" class="display"><span class="dli-close"></span></button>
          </div>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" id="account" class="dropdown-toggle"> 
                <div class="header-profile-img">
                  <%= image_tag current_user.profile_img.attached? ? current_user.profile_img : "profile.jpg", alt: "プロフィール画像" %>
                </div>
              </a>
              <ul id="dropdown-menu" class="dropdown-menu">
                <% if current_user&.admin? %>
                  <li><%= link_to "管理者ページ", admin_root_path %></li>
                <% end %>
                <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "アカウント情報の編集", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, id: "logout" %></li>
              </ul>
            </li>
            <div id="responsive-menu">
              <a href="#" id="account2" class="dropdown-toggle"> 
                <div class="header-profile-img">
                  <%= image_tag current_user.profile_img.attached? ? current_user.profile_img : "profile.jpg", alt: "プロフィール画像" %>
                </div>
              </a>
              <ul id="dropdown-menu3" class="dropdown-menu dropdown-menu-right responsive-header">
                <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "アカウント情報の編集", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, id: "logout-mobile" %></li>
              </ul>
              <li class="responsive-link-btn">
                <div class="btn-custom">
                  <%= link_to "投稿する", new_user_article_draft_path(current_user), data: { turbo: false } %>
                </div>
              </li>
            </div>
            <li class="link-btn">
              <div class="btn-custom">
                <%= link_to "投稿する", new_user_article_draft_path(current_user), data: { turbo: false }  %>
              </div>
            </li>
          <% else %>   
            <div class="non-logged-in-menu">   
              <li><%= link_to "ログイン", login_path %></li>
              <li><%= link_to "会員登録", sign_up_path %></li>
            </div>
          <% end %>
          </ul>
        <% else %>
          <div
            id="file-size-bar-container"
            data-controller="header"
            data-header-remaining-value="<%= @remaining_mb %>"
            data-header-max-value="<%= @max_size %>"
          >
              <div id="file-size-bar" data-header-target="bar"></div>
              <span id="file-size-text" data-header-target="quota"></span>
          </div>
          <div class="article-submit-btn">
            <%= yield :form_submit_button if content_for?(:form_submit_button) %>
          </div>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" id="account" class="dropdown-toggle"> 
                <div class="header-profile-img">
                  <%= image_tag current_user.profile_img.attached? ? current_user.profile_img : "profile.jpg", alt: "プロフィール画像" %>
                </div>
              </a>
              <ul id="dropdown-menu" class="dropdown-menu">
                <% if current_user&.admin? %>
                  <li><%= link_to "管理者ページ", admin_root_path %></li>
                <% end %>
                <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "アカウント情報の編集", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, id: "logout" %></li>
              </ul>
            </li>
            <div id="responsive-menu" class="form-responsive-menu">
              <a href="#" id="account2" class="dropdown-toggle"> 
                <div class="header-profile-img">
                  <%= image_tag current_user.profile_img.attached? ? current_user.profile_img : "profile.jpg", alt: "プロフィール画像" %>
                </div>
              </a>
              <ul id="dropdown-menu3" class="dropdown-menu dropdown-menu-right responsive-header">
                <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "アカウント情報の編集", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, id: "logout-mobile" %></li>
              </ul>
            </div>
          <% end %>
        <% end %>
      </ul>
    </nav> 
  </div> 
</header> 