<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' %>
    <%= favicon_link_tag 'android-chrome-192x192.png', rel: 'android-touch-icon', sizes: '192x192', type: 'image/png' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <style>
      @import url('https://fonts.cdnfonts.com/css/oooh-baby');
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash-alert alert alert-<%= bootstrap_alert(key, value) %>">
            <%= value %>
          </div>
        <% end %>
      </div>
      <%= yield %>
      <%= render 'layouts/footer' %> 
    </div>
  </body>
</html>
